<div class="text-statistics__header-top">
    <div class="text-statistics__header-top-flex">
        <div class="text-statistics__header-top-container">
            <div class="text-statistics__header">
                {{header}}
            </div>
            <div class="text-statistics__header-top-desc">
                {{description}}
            </div>

            <div class="text-statistics__header">
                <a class="text-statistics__start-analyze" href="#input-section">{{buttonText}}</a>
            </div>

        </div>
        <div>
            <img class="img-fluid" [src]="'../../../assets/icons/'+imageName" />

        </div>
    </div>

</div>