@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.ecommerce-home {
    margin: 50px 0;
}
.ecommerce-home__container {
    @include make-container();
}
.ecommerce-home__top-header-holder {
    padding: 50px;
    background-color: #EEF4F5;
    border-radius:30px;
    h1 {
        font-size: 55px;
        line-height: 1;
        font-weight: 700;
    }
}

.ecommerce-home__top-header-holder-desc {
    max-width: 400px;
    color:$dark;
    font-weight: 500;
    margin: 40px 0;
}

.ecommerce-home__top-header-holder-icon {
    width: fit-content;
    background-color: #e2edef;
    border-radius: 30px;
    padding: 15px 30px;

    span {
        margin: 0 10px;
        font-size: 14px;
        font-weight: 600;
        color: #274c4f;
    }

}

button.btn.ecommerce-home__shop-now {
    width: fit-content;
    background-color: #456a6d;
    border-radius: 26px;
    padding: 16px 35px;
    margin-top: 50px;
    color: white;

    &:hover {
        background-color:rgba(#456a6d,0.7) ;
    }
}

.ecommerce-home__top-header-image-large {
  //  width: 300px;
    min-height: 576px;
    border-radius: 25px;
    //margin: 0 40px;
}

.ecommerce-home__small-desc-bottom {
    position: absolute;
    bottom: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    left: 25px;

    &:hover {
        background-color: #274c4f;
        cursor: pointer;
        i {
            color: white;
        }
    }
}

.ecommerce-home__small-desc-top {
    position: absolute;
    top: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px;
    left: 25px;

    div {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
    }

    span {
        font-size: 12px;
    }
}

.ecommerce-home__top-header-image-small {
   // width: 300px;
    min-height: 325px;
    border-radius: 25px;
}

img.ecommerce-home__icon {
    max-width: 100%;
    border-radius: 50px;
    width: 30px;
    height: auto;
    margin: 0 2px;
}

.ecommerce-home__off {
    background-color: #274c4f;
    color: white;
    padding: 40px;
    border-radius: 10px;
    margin-top: 37px;
    text-align: center;
    h3 {
        font-size: 22px;
        font-weight: 700;
    }

    div {
        font-size: 14px;
        font-weight: 500;
    }
}

button.btn.ecommerce-home__explore {
    width: fit-content;
    background-color: #456a6d;
    border-radius: 26px;
    padding: 10px 35px;
    margin-top: 30px;
    color: white;

    background-color:rgba(#456a6d,0.7) ;
}


.ecommerce-home__header {
    font-size: 25px;
    color:$dark;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

.ecommerce-home__desc {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    width: 550px;
    margin: 25px auto;
    color:$gray;
}

.ecommerce-home__browse-living-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.ecommerce-home__small-desc-bottom-living {
    position: absolute;
    bottom: 20px;
    background-color: $white;
    border-radius: 10px;
    padding: 10px 20px;
    left: 25px;

    div {
        font-weight: 700;
    }

    span {
        font-weight: 500;
        color: $grey;
    }
}

.ecommerce-home__browse-room {
    background-color: $dark;
    border-radius: 30px;
    padding: 50px 20px;
    margin-bottom: 70px;
    img {
        border-radius: 15px;
    }
}

.ecommerce-home__browse-living-header {

    h4 {
        color: $white;
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    p {
        color: $white;

        margin-bottom: 54px;
    }
}

.ecommerce-home__bset-sallers {
    margin-bottom: 70px;
}

.ecommerce-home__special-browser {
    width: fit-content;
    background-color: white;
    border-radius: 26px;
    padding: 10px 20px;
    margin-top: 5px;
    color: #42504b;

    &:hover {
        background-color:#152420;
        color: white;
    }
}

.ecommerce-home__flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.ecommerce-home__special-card {
    display: flex;
    justify-content: space-between;
    border-radius: 23px;
    padding: 20px;

    img {
        width: 200px;
        height: 200px;
        border-radius: 15px;
    }
}

.ecommerce-home__special-card-desc {
    margin: 0 20px;

    h3 {
        font-size: 20px;
        color: white;
        font-weight: 700;
    }

    p {
        font-size: 17px;
        font-weight: 700;
        color: white;
    }

    span {
        color: white;
        margin-bottom: 20px;
        display: block;
    }
}

.ecommerce-home__see-all-btn {
    width: fit-content;
    background-color: #456a6d;
    border-radius: 26px;
    padding: 10px 20px;
    margin-top: 30px;
    color: white;

    &:hover {
        background-color: rgba(#456a6d,0.7);

    }
}

.ecommerce-home__best-quality-img {
   width: 100%;
    height: auto;
    border-radius: 15px;
    position: relative;

    &::before {
        position: absolute;
        content: '';
    }
}

.ecommerce-home__best-quality-hedaer-desc {
     h3 {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 10px;
     }

     p {
        font-weight: 400;
        line-height: 2;
     }
}

.ecommerce-home__best-quality-hedaer-desc {
    max-width: 480px;
}

.ecommerce-home__special-offers {
    margin-bottom: 70px;
}

.ecommerce-home__partners-holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eef4f5;
    padding: 40px 30px;
    margin-top: 70px;

    img {
        width: 100px;
    }
}