<div class="toolbar">
    <div class="toolbar__container">

        <div class="toolbar__top">
            <div class="toolbar__logo">
                <div>
                    <img class="toolbar__logo-img" src="../../../assets/icons/my-logo.svg" />
                </div>
    
                <div class="toolbar__site-name">
                    HyperTools
                </div>
    
            </div>
            <div>
                <img class="toolbar__my-photo" src="../../../assets/icons/Profile.png" />
                <div class="toolbar__user-name-active"></div>
            </div>



        </div>
    </div>
</div>