<div class="toolbar">
    <div class="toolbar__container">

        <div class="toolbar__top">
            <div class="toolbar__logo">
                <div>
                    <img class="toolbar__logo-img" src="../../../assets/icons/my-logo.svg" />
                </div>

 
    
                <div class="toolbar__site-name">
                    HyperTools
                </div>

                <div class="toolbar__search-holder">
                    <input type="text" placeholder="Search" class="form-control toolbar__search" />
                    <i class="toolbar__search-icon fa fa-search"></i>
                </div>
    
            </div>
            <div class="toolbar__sidebar">
                <ul class="toolbar__sidebar-list">
                    <li class="toolbar__sidebar-list-top"><a class="toolbar__sidebar-link" routerLink="/">Home</a></li>
                    <li class="toolbar__sidebar-list-top"><a class="toolbar__sidebar-link-list" routerLink="/">Tools <img width="20px" src="../../../assets/icons/Caret down.svg" /></a>
                        <ul class="toolbar__sidebar-hover-list">
                            <li class="toolbar__hover-list"><a class="toolbar__hover-link">Ecommerce</a></li>
                            <li class="toolbar__hover-list"><a class="toolbar__hover-link">My Portfolio</a></li>
                            <li class="toolbar__hover-list"><a class="toolbar__hover-link">Currency Convertor</a></li>
                            <li class="toolbar__hover-list"><a class="toolbar__hover-link">Weather City</a></li>
                            <li class="toolbar__hover-list"><a class="toolbar__hover-link">Text Statistics</a></li>
                            <li class="toolbar__hover-list"><a class="toolbar__hover-link">Quiz Builder</a></li>
                            <li class="toolbar__hover-list"><a class="toolbar__hover-link">Picture Gallery</a></li>
                        </ul>
                    </li>
                    <li class="toolbar__sidebar-list-top"><a class="toolbar__sidebar-link" routerLink="/">About Us</a></li>
                    <li class="toolbar__sidebar-list-top"><a class="toolbar__sidebar-link" routerLink="/">News</a></li>
                    <li class="toolbar__sidebar-list-top"><a class="toolbar__sidebar-link" routerLink="/">Contact Us</a></li>
                </ul>
       
            </div>

            <div class="toolbar__shop-icon">
                <div class="toolbar__shop-icon-holder">
                    <span class="toolbar__shop-count" *ngIf="favouriteItems && favouriteItems.length > 0">{{favouriteItems.length}}</span>
                    <i class="fa fa-heart-o"></i>
                </div>
                <div class="toolbar__shop-icon-holder">
                    <img src="../../../assets/icons/Exchange.svg" />
                </div>
                <div (click)="openCartModal()" class="toolbar__shop-icon-holder">
                    <span class="toolbar__shop-count" *ngIf="cartItems && cartItems.length > 0">{{cartItems.length}}</span>
                    <i class="fa fa-cart-plus"></i>
                </div>

                <ng-container *ngIf="isCartOpen">
                    <div class="toolbar__cart-items">
                        <div class="toolbar__cart-items-flex">
                            <div class="toolbar__cart-items-header">
                                Shopping Cart
                            </div>
                            <div (click)="closeCartModal()" class="toolbar__cart-items-close">&times;</div>
                        </div>

                        <div class="toolbar__cart-items-body">
                            <ng-container *ngFor="let item of cartItems">
                                <div class="toolbar__cart-item-flex">
                                    <div class="d-flex align-content-center justify-content-between">
                                        <img [src]="item.picture" />
                                        <div class="toolbar__cart-item-count">
                                            <div class="toolbar__cart-item-name">{{item?.name}}</div>
                                            <div class="toolbar__cart-item-input">
                                                <span class="toolbar__cart-item-input-minus" (click)="decrementItem(item)">-</span>
                                                <span class="toolbar__cart-item-input-plus" (click)="incrementItem(item)">+</span>
                                                <input type="number" [(ngModel)]="item.cartItems" [min]="0"/>
                                                <span class="toolbar__cart-item-multiple">&times;</span>
                                                <span class="toolbar__cart-item-price">${{item.price | number: '1.2-2'}}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div (click)="removeItemFromCart(item)" class="toolbar__cart-item-delete">
                                        <i class="fa fa-trash"></i>
                                    </div>
                                </div>
                            </ng-container>
                        </div>

                        <div class="toolbar__cart-items-footer">
                            <div class="toolbar__cart-items-footer-flex">
                                <div class="toolbar__cart-items-footer-sub-total">
                                    Subtotal:
                                </div>

                                <div class="toolbar__cart-items-footer-summation">
                                    ${{totalPrice |number:'1.2-2'}}
                                </div>
                            </div>


                            <div class="toolbar__cart-items-footer-discount">
                                <div class="toolbar__cart-items-footer-discount-message">
                                 <ng-container *ngIf="totalPrice < 2000">Add ${{(2000-totalPrice) |number:'1.2-2'}} more to get free shipping!</ng-container>  
                                 <ng-container *ngIf="totalPrice >= 2000">Congratulations! You got free shipping 🎉
                                </ng-container>  

                                </div>
                                <div class="toolbar__cart-items-footer-progress">
                                    <div [ngStyle]="{'width':(totalPrice/2000)*100+'%'}" class="toolbar__cart-price-range"></div>

                                </div>
                            </div>

                            <div class="toolbar__cart-items-footer-button-options">
                                <button type="button" class="btn">View cart</button>
                                <button type="button" class="btn mx-2">Checkout</button>
                            </div>
                        </div>

                    </div>
                </ng-container>
            </div>
            <div>
                <img class="toolbar__my-photo" src="../../../assets/icons/Profile.png" />
                <div class="toolbar__user-name-active"></div>
            </div>



        </div>
    </div>
</div>