@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.ecommerce-details__container {
    @include make-container();
}

.ecommerce-details__flex {
    display: flex;
  //  align-items: center;
}

.ecommerce-card__details-name {
    font-size: 30px;
    color: #152420;
    font-weight: 700;
    margin-bottom: 14px;
}

.ecommerce-details__picture {
    img {
            width: 100%;
            height: 100%;
    }
}

.ecommerce-card__details-price {
    font-size: 20px;
    font-weight: 700;
    color: #42504b;
}

.ecommerce-card__details-discount {
    font-size: 20px;
    font-weight: 500;
    color: #42504b;
    position: relative;
    margin: 0 10px;


    &::after {
        position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    background-color: #42504b;
    height: 3px;
    top: 14px;
    right: 0;
    }
}

.ecommerce-card__details-description {
    color: #42504b;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    word-spacing: 5px;
    line-height: 27px;
    margin: 26px 0;
    min-height: 320px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e2edef;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.toolbar__cart-item-select {
    border-radius: 30px;
    outline-color: #152420;
    height: 55px;
    text-align: center;
    border: 1px solid #274c4f;
    width: 160px;
}

.toolbar__cart-item-flex-between {
    display: flex;
  //  justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

    border-bottom: 1px solid #e2edef;
}

.toolbar__cart-item-add-cart {
    background-color: #274c4f;
    text-align: center;
    color: white;
    border-radius: 30px;
    min-width: 240px;
    height: 55px;
    margin: 0 15px;

    &:hover {
        background-color: rgba(224,229,235,0.6);
        color: #42504b;
    }
}

.ecommerce-card__categorty {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #e2edef;
}

.ecommerce-card__categorty-text {
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    color: #42504b;
}

.ecommerce-card__categorty-name {
    color: #42504b;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 3px;
}

.ecommerce-details__picture {
    width: 35%;
}

.ecommerce-details__description-holder {
    width: 65%;
    padding: 0 60px;
}

.ecommerce-card__add-to-cart {
    color: $dark;
}

.ecommerce-card__add-to-cart a {
    font-size: 16px;
    font-weight: 500;
    color: #42504b;
}

.toolbar__cart-item-input {
    display: flex;
    align-items: center;
    position: relative;
   // width: 150px;
}

.toolbar__cart-item-input-minus {
    position: absolute;
    left: 24px;
    color: #42504b;
    cursor: pointer;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    &:hover { 
            background-color: #456a6d;
            color: white;
            border-radius: 50%;
        }
    }

    .toolbar__cart-item-input-plus {
        position: absolute;
        right: 24px;
        color: #42504b;
        cursor: pointer;
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 18px;
        text-align: center;
        transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        &:hover {
            background-color: #456a6d;
            color: white;
            border-radius: 50%;
    
        }
    }
    

    .ecommerce-details__tab {
        color: #42504b;
        margin: 0 50px;
        font-size: 12px;
        text-transform: uppercase;
    }

    .ecommerce-details__tab--active {
        border-bottom: 3px solid #42504b;
    }

    .ecommerce-details__flex-center {
        display: flex;
        justify-content: center;
        margin: 40px 0 10px 0;
        border-bottom: 1px solid #e2edef;
    }